@{
  Layout = "_Layout";
}

@model AnimalFarm.Models.Animal

<h2>Are you sure you want to delete this Animal?</h2>

@Html.DisplayNameFor(model => model.AnimalName): @Html.DisplayFor(model => model.AnimalName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to List", "Index")