@{
  Layout = "_Layout";
}

@using AnimalFarm.Models;
@model List<AnimalFarm.Models.Trainer>;

<h1>Trainers</h1>

@if (@Model.Count == 0)
{
  <h3>No categories have been added yet!</h3>
} 


  @foreach (Trainer trainer in Model)
  {
    <li>@Html.ActionLink($"{trainer.TrainerName}", "Details", new { id = trainer.TrainerId })
  </li>
  }

<p>@Html.ActionLink("Add new trainer", "Create")</p> 
<p>@Html.ActionLink("Home", "Index", "Home")</p>